In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')
gender_sub = pd.read_csv('titanic/gender_submission.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
cols = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
test = test[cols]
train_cols = ['Survived'] + cols
train = train[train_cols]

In [6]:
train.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [7]:

train_enc = pd.get_dummies(train, columns=['Embarked'], dtype=int)
test_enc = pd.get_dummies(test, columns=['Embarked'], dtype=int)
train_enc['Sex'] = pd.get_dummies(train_enc['Sex'], drop_first=True, dtype=int)
test_enc['Sex'] = pd.get_dummies(test_enc['Sex'], drop_first=True, dtype=int)
train_enc['Survived'] = train_enc['Survived'].map({0: -1, 1: 1})

In [8]:
train_enc.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,-1,3,1,22.0,1,0,7.2500,0,0,1
1,1,1,0,38.0,1,0,71.2833,1,0,0
2,1,3,0,26.0,0,0,7.9250,0,0,1
3,1,1,0,35.0,1,0,53.1000,0,0,1
4,-1,3,1,35.0,0,0,8.0500,0,0,1

In [9]:
train_enc.dtypes

Survived        int64
Pclass          int64
Sex             int32
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Embarked_C      int32
Embarked_Q      int32
Embarked_S      int32
dtype: object

In [10]:
train_enc.to_csv('train_enc.txt', index=False)
test_enc.to_csv('test_enc.txt', index=False)